*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Azeret Mono ,sans-serif;
    
    } 
.banner{
    width: 1320px;
    height: 652px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Hero-bg.png);
}
.content{
height: 582px;
width: 878px;
}
.child-img{
    width: 240.28px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; 
    background-image: url(Group.png); 
}
.child-text{
    width: 878px;
    height: 150px;
    text-align: center;
    margin-top: 80px;
}
.contract{
    padding: 15px;
    color: white;
    background-color: #0D1321;
    margin-top: 53px;
    margin-left: 355px;
}
.section1{
    width: 1020px;
    height: 1050px;
    margin-left: 165px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D132105;
    border-radius: 20px;
}
.father{
    width: 826px;
    height: 950px;
    border-radius: 20px;
}
.child1{
    width: 732px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; 
    margin-bottom: 20px;
    text-align: center;
   
}
.child2{
    width: 826px;
    height: 216px;
    display: flex;
    margin: 100px;
}
.button1{
    margin-top: 20px;
   
}
.child2-text{
    width: 413px;
    height: 216px;
    color: #0D1321B3;
}
.child2-img2{
    width: 274.17px;
    height: 216px;
    margin-left: 150px;
    background-image: url(Layer_1.png);

}
.child3{
    width: 826px;
    height: 216px;
    color: #0D1321B3;
    display: flex;
    margin: 100px;
}
.child3-text{
    width: 450px;
}
.button2{
    margin-top: 20px;
}
.child-img4{
width: 240px;
height: 212px;
background-image: url(Group\ 3.png);
}
.child4{
    width: 826px;
    height: 216px;
    display: flex;
    margin: 100px;
}
.child4-text{
   width: 357px;
   height: 216px;
   color: #0D1321B3;
}
.button3{
    margin-top: 20px;
}
.child4-img{
    width: 240px;
    height: 212px;
   margin-left: 220px;
   background-image: url(Group\ 4.png);
}
.section2{
    width: 1020px;
    height: 657px;
    margin-top: 200px;
    margin-left: 165px;
}
.section2-child1{
    width: 732px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #0D1321;
}
.child-video{
    width: 956px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 70px;
    background-repeat: no-repeat;
    background: cover;
   
}
.section3{
    width: 1020px;
    height: 470px;
    margin-left: 165px;
}
.section3-child1{
    width: 732px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #0D1321;
}
.saction3-child2{
    width: 1010px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    gap: 15px;
    margin-left: 5px;
}
.HTMl{
width: 324px;
height: 300px;
background-color: #FF4C1E0D;
border-radius: 20px;
}
.html-child{
    width: 244px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 45px;
    background-image: url(html.png);
    background-repeat: no-repeat;
}
.text1{
    margin-top: 40px;
}
.CSS{
width: 324px;
height: 300px;
background-color: #004CE80D;
border-radius: 20px;
}
.css-child{
    width: 244px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 45px;
    background-image: url(css.png);
    background-repeat: no-repeat;

}
.text2{
    margin-top: 40px;
}
.javascript{
width: 324px;
height: 300px;
background-color: #FFDF000D;
border-radius: 20px;
}
.javascript-child{
    width: 244px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 45px;
    background-image: url(js.png);
    background-repeat: no-repeat;
}
.text4{
    margin-top: 40px;
}
.footer{
    width: 1020px;
    height: 314px;
    margin-left: 165px;
    border-radius: 20px;
    background-image: url(handshake2.jpg);
    background-repeat: no-repeat;
    background: cover;
    opacity: .9;
}
.text-content{
    width: 924px;
    height: 186px;
    text-align: center;
    color: #FFFFFF;
}
.placeholder{
    padding: 10px;
    width: 450px;
    border-radius: 10px;
    margin-top: 50px;
}
.submit{
    padding: 8px;
    border-radius: 10px;
}
